body {
    background-color: #CCCCCC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin: auto;  
}
.container {
    background-image: linear-gradient(rgb(29, 12, 32), rgb(101, 31, 112));
    display: flex;
    padding: 50px;
    border-radius: 10px;
    width: 1300px;
    margin: auto;

}
.sub-container {
    background-image: linear-gradient(rgb(101, 31, 113), rgb(30, 13, 33) );
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
}
.title {
    color: #FECD23;
    font-size: 60px;
}
.sub-title {
    font-size: 45px;
    padding: 10px;
    margin-bottom: 20px;
}
.paragrafo {
    padding: 10px;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.esportes {
    background-image: linear-gradient(rgb(61, 93, 239), rgb(114, 205, 255));
    flex-direction: column;
    padding: 80px;
    box-shadow: 0px 0px 0px 10px rgb(38, 56, 221);
    border-radius: 5px;
    font-size: 20px;   
}
.simulacao {
    background-image: linear-gradient(rgb(61, 93, 239), rgb(114, 205, 255));
    padding: 80px;
    flex-direction: column;
    box-shadow: 0px 0px 0px 10px rgb(38, 56, 221);
    border-radius: 5px;
    font-size: 20px;  
}
.estrategia {
    background-image: linear-gradient(rgb(61, 93, 239), rgb(114, 205, 255));
    padding: 80px;
    flex-direction: column;
    box-shadow: 0px 0px 0px 10px rgb(38, 56, 221);
    border-radius: 5px;
    font-size: 20px;
}
.votacao {
    display: flex;
    justify-content: space-around;
    font-size: 100px;
}
.image-group{
    font-size: 80px;
    margin-bottom: 30px;
}
.button{
    font-size: 20px;
    background-color: #1D0C20;
    color: #f3fbfe;
    width: 80%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-image: linear-gradient(rgb(61, 93, 239), rgb(114, 205, 255));
    color: #1D0C20;
}
input {
    margin: auto;
    width: 70%;
    height: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 0;
    font-size: 30px;
    margin-bottom: 50px;
}
input:focus {
    outline: none;
}

@media screen and (max-width: 1350px){
    html{
        font-size: 14px;
    }
    .votacao{
        flex-direction: column; 
    }
    .container{
        width: 100%;
        padding: 0;
    }
}